/*.marginX {
    margin-top: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;} */
